.tinyb
.tinybird-generated
.terraform
.DS_Store
.claude
.opencode
.env
.env.local
*.local

node_modules
.DS_Store
dist
dist-ssr
count.txt
.nitro
.tanstack
.wrangler
.output
.vinxi
.turbo
todos.json
apps/api/.data/

.alchemy
